<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanty.cloud.service.zk.mapper.mapper2.UserMapper">
  <resultMap id="BaseResultMap" type="com.quanty.cloud.service.zk.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
</mapper>